[submodule "subworkflows/tetf_refs"]
	path = subworkflows/tetf_refs
	url = git@github.com:mal2017/tetf_refs.git
	branch=main
[submodule "subworkflows/tetf_tidal"]
	path = subworkflows/tetf_tidal
	url = git@github.com:mal2017/tetf_tidal.git
	branch=main
[submodule "subworkflows/tetf_dgrp_wgs"]
	path = subworkflows/tetf_dgrp_wgs
	url = git@github.com:mal2017/tetf_dgrp_wgs.git
	branch=main
[submodule "subworkflows/tetf_expression_quant"]
	path = subworkflows/tetf_expression_quant
	url = git@github.com:mal2017/tetf_expression_quant.git
	branch=main
[submodule "subworkflows/tetf_expression_quant_dataset2"]
	path = subworkflows/tetf_expression_quant_dataset2
	url = git@github.com:mal2017/tetf_expression_quant_dataset2.git
	branch=main
[submodule "subworkflows/tetf_lm_coex"]
	path = subworkflows/tetf_lm_coex
	url = git@github.com:mal2017/tetf_lm_coex.git
	branch=main
[submodule "subworkflows/tetf_lm_coex_dataset2"]
	path = subworkflows/tetf_lm_coex_dataset2
	url = git@github.com:mal2017/tetf_lm_coex_dataset2.git
	branch=main
[submodule "subworkflows/tetf_rewiring"]
	path = subworkflows/tetf_rewiring
	url = git@github.com:mal2017/tetf_rewiring.git
	branch = main
[submodule "subworkflows/tetf_rewiring_dataset2"]
	path = subworkflows/tetf_rewiring_dataset2
	url = git@github.com:mal2017/tetf_rewiring_dataset2.git
	branch = main
[submodule "subworkflows/tetf_calderon22"]
	path = subworkflows/tetf_calderon22
	url = git@github.com:mal2017/tetf_calderon22.git
	branch = main
[submodule "subworkflows/tetf_kd"]
	path = subworkflows/tetf_kd
	url = git@github.com:mal2017/tetf_kd.git
	branch = main
[submodule "subworkflows/tetf_tfrnai"]
	path = subworkflows/tetf_tfrnai
	url = git@github.com:mal2017/tetf_tfrnai.git
	branch = main
[submodule "subworkflows/tetf_basic_chip"]
	path = subworkflows/tetf_basic_chip
	url = git@github.com:mal2017/tetf_basic_chip.git
	branch = main
[submodule "subworkflows/tetf_csem_mosaics"]
	path = subworkflows/tetf_csem_mosaics
	url = git@github.com:mal2017/tetf_csem_mosaics.git
	branch = main
[submodule "subworkflows/tetf_ripseq"]
	path = subworkflows/tetf_ripseq
	url = git@github.com:mal2017/tetf_ripseq.git
