[submodule "subworkflows/tetf_refs"]
	path = subworkflows/tetf_refs
	url = git@github.com:mal2017/tetf_refs.git
[submodule "subworkflows/tetf_tidal"]
	path = subworkflows/tetf_tidal
	url = git@github.com:mal2017/tetf_tidal.git
